<h1>Edit Post Id: <%= @post.id %></h1>
<%= link_to 'back to index', posts_path, class:"btn btn-danger" %>
<%= form_for @post, url: post_path(@post), method: :patch do |f| %>
  <%= render partial: 'form', locals: {f: f, post: @post} %>
<% end %>
